$color-green:#6A983C;
$color-black:#151515;
$color-input_background:#F9F9F9;
$color-light_gray:#A9A9A9;
$color-brown:#E6704B;
$color-gray:#F4F8EC;
$color-dark_gray: #575757;;




//fonts
$Poppins:'Poppins', sans-serif; 
$Open: 'Open Sans'; 



