.burger-menu{
    display: none;
    &__button{
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 30;
        width: 60px;
        height: 60px;
    }
    &__lines,
    &__lines::after,
    &__lines::before{
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: black;
            border-radius: 12px;
        }
    &__lines{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: 0.2s;
        }
    &__lines::before{
            content: '';
            top: -8px;
        }
    &__lines::after{
            content: '';
            top: 8px;
        }
    &__active .burger-menu__lines{
        background-color: transparent;
        
    }
    &__active .burger-menu__lines::before{
        top: 0;
        transform: rotate(45deg);
        background: white;
    }
    &__active .burger-menu__lines::after{
        top: 0;
        transform: rotate(-45deg);
        background: white;
    }
    &__nav{
        position: fixed;
        padding-top: 70px;
        padding-bottom: 20px;
        z-index: 20;
        display: flex;
        flex-flow: column;
        height: 100%;
        background: #6A983C;
        overflow-y: auto;
        right: -100%;
        transition: 0.3s;
    }
    &__active .burger-menu__nav{
        right: 0;
    }
    &__link{
        font-size: 14px;
        font-family: "Open Sans";
        text-transform: uppercase;
        padding: 10px 20px 20px 20px;
        color: white;
    }
    &__overlay{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &__active .burger-menu__overlay {
            display: block;
            background: #00000025;
    }
}

@media screen and (max-width: 1024px){
    body{
        padding: 15px;
    }
    .burger-menu{
        display: block;
    }
    .heading__ul {
        margin-bottom: 28px;
    }
    .heading__link{
        margin-bottom: 20px;
    }
    .col-5{
        max-width: 290px;
        margin-top: 30px;
    }
    .heading__box,
    .heading__box1{
        margin: auto;
        width: 100%;
        margin-top: 10px;
    }
    .heading__box{
        margin-top: 30px;
    }
    .heading__left{
        margin-bottom: 40px;
        margin-left: 17px;
    }
    .farmers{
        padding-top: 97px;
    }
}
@media screen and (max-width: 576px) {
    .header_top{
        display: none;
    }
    .header_bottom{
        display: none;
    }
}



@media screen and (max-width: 1024px){
    .products{
        padding-top: 70px;
    }
    .products__right{
        margin-top: 40px;
    }
    .products__column{
        padding-bottom: 10px;
        margin: auto;
    }
    .products__column1{
        margin: auto;
        padding-right: 0px;
    }
}
@media screen and (max-width: 1024px){
    .customers__box{
        margin-left: 10px;
    }
    .customers{
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .products__column1{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1024px){
    .blog{
        &__box{
            max-width: 348px;
        }
        &__description{
            width: 280px;
        }
        .col-3{
            max-width: 100%;;
            width: 100%;
            margin-top: 40px;
        }
        .col-4{
            max-width:100%;
            width: 100%;
            margin-top: 40px;
        }
        &__specials img{
            margin: auto;
        }
    }
}

@media screen and (max-width: 1024px){
    .footer{
        padding: 0;

    .col-2,
    .col-3{
        width: 100%;
    }
    &__title{
        font-size: 12px;
    }
    &__word{
        font-size: 11px;
    }
    }
}
@media screen and (max-width: 1024px){
    .carrot{
        .col-6 img{
            width: 100%;
        }
        .col-6{
            width: 100%;
        }
    }
}
@media screen and (max-width: 1024px){
    .footer{
        &__word{
            font-size: 24px;
        }
    }
}