.carrot{
    // &__span{
    //     @include font (400, 12px);
    //     font-family: 'Open Sans', sans-serif;
    // }
    margin-top: 16px;
    .col-6 img{
        margin-bottom: 32px;
    }
    .headline{
        margin-top: 86px;
        margin-bottom: 137px;
    }
}
